<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311894937200-2f8hp4pls6rjnvcjiruflk3a4mn2453p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311894937200-2f8hp4pls6rjnvcjiruflk3a4mn2453p</string>
	<key>API_KEY</key>
	<string>AIzaSyC1bFmM7P7kAFBg6Xl3rxOAV2S8Geg91jA</string>
	<key>GCM_SENDER_ID</key>
	<string>311894937200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dayTracker</string>
	<key>PROJECT_ID</key>
	<string>day-tracker-2a9a5</string>
	<key>STORAGE_BUCKET</key>
	<string>day-tracker-2a9a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311894937200:ios:3574b5feb1b61ec9c0eeb5</string>
</dict>
</plist>